@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

.basic-color {
  @apply text-black dark:bg-slate-800 dark:text-white;
}
.link {
  @apply text-cyan-600 hover:text-blue-800;
}
.reset {
  @apply m-0 p-0;
}
.nav-account {
  @apply flex w-full justify-center border-x border-b px-5 py-2 text-sm hover:bg-slate-200;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 200% 100%;
}
div.ag-header-cell-label {
  display: flex;
  justify-content: center;
  text-align: center;
}

div.ag-header-cell-text {
  overflow: visible;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
}
